
/* SWIPER -> ACTIONS DELETE */

.swiper__actions-delete {
  position: absolute;

  width: 70px;
  height: 100%;

  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: right linear 0.1s;
}
