
/* MODAL -> CONSTRUCTOR */

.modal__constructor {
  width: 100%;
  max-width: 600px;
}


/* MODAL -> FOOTER */

.modal__footer {
  padding: 16px 8px;
}

@media screen and (min-width: 1200px) {
  .modal__footer {
    display: none;
  }
}