
/* ORDER DETAILS */

.order-details {
  width: 100%;
  max-width: 520px;

  display: flex;
  flex-direction: column;
  align-items: center;
}


/* ORDER DETAILS -> NUMBER */

@media screen and (max-width: 1199.98px) {
  .order-details__number {
    color: var(--colors-interface-accent);
    height: 90px;
  }
}


/* ORDER DETAILS -> IDENTIFICATOR */

@media screen and (min-width: 1200px) {
  .order-details__identificator {
    margin-top: 32px;
  }
}


/* ORDER DETAILS -> IMAGE */

.order-details__image {
  width: 120px;
  height: 120px;
  margin-top: 48px;
}

@media screen and (min-width: 1200px) {
  .order-details__image {
    margin-top: 60px;
  }
}


/* ORDER DETAILS -> NOTIFICATION 1 */

.order-details__notification1 {
  margin-top: 48px;
}

@media screen and (min-width: 1200px) {
  .order-details__notification1 {
    margin-top: 60px;
  }
}


/* ORDER DETAILS -> NOTIFICATION 2 */

.order-details__notification2 {
  margin-top: 8px;
  color: var(--text-inactive-color);
  text-align: center;
}
