
/* CONSTRUCTOR MIDDLE */

.constructor__middle {
  display: grid;
  row-gap: 16px;

  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;

  margin: 16px 0;
  padding-right: 8px;

  max-height: 272px;
}

@media only screen and (min-width: 1400px) {
  .constructor__middle {
    max-height: 466px;
  }
}
