
/* MODAL -> CONTENT */

.modal__content1 {
  width: 100%;

  display: flex;
  justify-content: center;

  grid-area: content;

  padding: 0;
}


/* MODAL -> CONTAINER */

.modal__container {
  height: 100%;

  display: flex;
  justify-content: center;
}
