.ingredient-logo {
  position: relative;
  width: 32px;
  height: 32px;
  background-image: linear-gradient(to right, #ab47bc  0%, #7e57c2 100%);
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 0;
}

@media screen and (min-width: 1200px) {
  .ingredient-logo {
    width: 64px;
    height: 64px;
  }
}

.ingredient-logo:before {
  content: '';
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  z-index: -1;
  border-radius: 100px;
  background: var(--background-alt);
}


/* INGREDIENT LOGO -> IMAGE */

.ingredient-logo__image {
  position: absolute;
  width: 56px;
  height: 28px;
  margin-left: -28px;
  margin-top: -14px;
  left: 50%;
  top: 50%;
}

@media screen and (min-width: 1200px) {
  .ingredient-logo__image {
    width: 112px;
    height: 56px;
    margin-left: -56px;
    margin-top: -28px;
  }
}

.ingredient-logo__image--last {
  opacity: 0.2;
}