
/* AUTH FORM */

.auth-form {
  display: grid;
  row-gap: 20px;
  justify-items: center;

  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .auth-form {
    row-gap: 24px;
  }
}